/* 
_____________
notifications
_____________
*/
.notifications {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 300px;
  z-index: 100000;
}

.notifications__message {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  min-height: 40px;
  padding: 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  font-size: var(--font-size-descr-base);
  background-color: rgba(138, 209, 253, 0.5);
  backdrop-filter: blur(16px) saturate(150%);
  -webkit-backdrop-filter: blur(16px) saturate(150%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
  z-index: 100000;
}

.notifications__message_error::before {
  flex-shrink: 0;
  display: inline;
  width: 30px;
  height: 30px;
  background-image: url('../media/icons/error.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
}

.notifications__message_ok::before {
  flex-shrink: 0;
  display: inline;
  width: 30px;
  height: 30px;
  background-image: url('../media/icons/ok.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
}

.notifications__message:not(:last-child) {
  margin-bottom: 5px;
}

.notifications__message.show {
  opacity: 1;
  visibility: visible;
}

.notifications__btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  padding: 5px;
}

.notifications__btn::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #262626;
  content: '';
  transform: rotate(45deg);
}

.notifications__btn::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #262626;
  content: '';
  transform: rotate(-45deg);
}

.notifications__descr {
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-text-sm);
  font-weight: 400;
}

/* 
_____________
Разметка MarkDown
_____________
*/
.description_md h1{
  margin-bottom: 30px;
  font-family: var(--font-family-text-montserrat);
  font-size: var(--font-size-title-max);
  font-weight: 600;
}
.description_md h2{
  margin-bottom: 25px;
  font-family: var(--font-family-text-montserrat);
  font-size: var(--font-size-title-lg);
  font-weight: 600;
}
.description_md h3{
  margin-bottom: 20px;
  font-family: var(--font-family-text-montserrat);
  font-size: var(--font-size-title-md);
  font-weight: 600;
}
.description_md h4{
  margin-bottom: 15px;
  font-family: var(--font-family-text-montserrat);
  font-size: var(--font-size-title-sm);
  font-weight: 600;
}
.description_md h5{
  margin-bottom: 10px;
  font-family: var(--font-family-text-montserrat);
  font-size: var(--font-size-title-xs);
  font-weight: 600;
}
.description_md h6{
  margin-bottom: 5px;
  font-family: var(--font-family-text-montserrat);
  font-size: var(--font-size-title-min);
  font-weight: 600;
}
.description_md p{
  margin-bottom: 15px;
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-text-md);
  font-weight: 400;
}
.description_md ul{
  padding: 1em;
  list-style: circle;
}
.description_md ol{
  padding: 1em;
}


/* 
_____________
Header
_____________
*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 1000;
  transition: box-shadow .2s;

  /* 576 px */
  @media (max-width: 36rem) {
    position: absolute;
  }
}

.header::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: '';
  opacity: 0;
  transition: opacity .2s, backdrop-filter .2s;

  /* 576 px */
  @media (max-width: 36rem) {
    content: none;
  }
}

.header.scrolled {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
}

.header.scrolled.header.scrolled::before {
  opacity: 1;
  backdrop-filter: blur(16px) saturate(150%);
  -webkit-backdrop-filter: blur(16px) saturate(150%);
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width-container-desktop);
  margin: auto;
  gap: 80px;
  padding: 0 var(--padding-lr-container-desktop);

  /* 1400 px */
  @media (max-width: 87.5rem) {
    max-width: var(--max-width-container-laptop);
  }

  /* 1200 px */
  @media (max-width: 75rem) {
    max-width: var(--max-width-container-tablet);
    padding: 0 var(--padding-lr-container-tablet);
  }

  /* 992 px */
  @media (max-width: 62rem) {
    max-width: var(--max-width-container-smartphone);
  }

  /* 768 px */
  @media (max-width: 48rem) {
    max-width: var(--max-width-container-mobile);
    padding: 1em var(--padding-lr-container-mobile);
  }

  /* 576 px */
  @media (max-width: 36rem) {
    justify-content: center;
    max-width: 100%;
  }
}

.header__logo {
  max-width: 90px;
}

.header__logo svg {
  width: 100%;
  transition: color .1s;
}

.header__logo:hover svg {
  color: var(--color-action-blue);
}

.header__logo:focus-visible svg {
  color: var(--color-action-blue);
}

.header__logo:active svg {
  color: var(--color-action-dark-blue);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  /* 768 px */
  @media (max-width: 48rem) {
    justify-content: flex-end;
  }
}

.topmenu {
  display: flex;
  align-items: center;
  gap: 25px;

  /* 768 px */
  @media (max-width: 48rem) {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 1em;
    overflow-y: scroll;
    background-color: rgba(180, 226, 255, 0.5);
    backdrop-filter: blur(16px) saturate(150%);
    -webkit-backdrop-filter: blur(16px) saturate(150%);
    transform: scale(0) translate(100%, -200%);
    transition: transform .5s;
  }
}

.topmenu.active {

  /* 768 px */
  @media (max-width: 48rem) {
    transform: scale(1) translate(0, 0);
  }
}

.header.scrolled .topmenu {
  /* border-color: var(--color-bg-blue); */
}

.topmenu__link {
  display: inline-block;
  padding: 30px 0;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-title-sm);
  font-weight: 500;
  transition: opacity 2s;

  /* 768 px */
  @media (max-width: 48rem) {
    padding: 0;
  }
}

.topmenu__link:hover {
  color: var(--color-action-blue);
}

.topmenu__link:focus-visible {
  color: var(--color-action-blue);
}

.topmenu__link:active {
  color: var(--color-action-dark-blue);
}


/* 
_____________
Вложенное меню
_____________
*/
.submenu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  border: var(--border-grey);
  border-radius: var(--radius-lg);
  background-color: rgba(180, 226, 255, 0.5);
  backdrop-filter: blur(16px) saturate(150%);
  -webkit-backdrop-filter: blur(16px) saturate(150%);
  z-index: 1000;
  transform: translateY(30px);
  transition: opacity .2s linear,
    visibility .2s linear,
    transform .2s linear;

  /* 992 px */
  @media (max-width: 62rem) {
    left: 0;
    right: 0;
  }

  /* 768 px */
  @media (max-width: 48rem) {
    position: static;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    backdrop-filter: initial;
    -webkit-backdrop-filter: initial;
    transform: none;
  }

  /* 576 px */
  @media (max-width: 36rem) {
    max-width: 100%;
  }
}

.tobmenu__item:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: none;
}

.submenu__col {
  padding: 0 1em;

  /* 768 px */
  @media (max-width: 48rem) {
    padding: 0;
  }
}

.submenu__col:not(:last-child) {
  border-right: 1px solid rgb(204, 204, 204);

  /* 768 px */
  @media (max-width: 48rem) {
    margin-bottom: 20px;
    border-right: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    ;
  }
}

.submenu__title {
  display: block;
  margin-bottom: 20px;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-title-sm);
  color: var(--color-text-grey);
  font-weight: 500;
  transition: color .1s;
}

.submenu__title:hover {
  color: var(--color-text-black);
}

.submenu__item {
  border-radius: var(--radius-lg);
  transition: background-color .1s;
}

.submenu__item:hover {
  background-color: var(--color-bg-grey);
}

.submenu__link {
  display: block;
  padding: 0.5em;
}

.submenu__name {
  display: block;
  margin-bottom: 5px;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-title-xs);
  font-weight: 500;
}

.submenu__description {
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-text-xs);
  color: var(--color-text-grey);
}





.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  /* 576 px */
  @media (max-width: 36rem) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    gap: 20px;
    padding: 0.5em 1em;
    backdrop-filter: blur(16px) saturate(150%);
    -webkit-backdrop-filter: blur(16px) saturate(150%);
  }
}

.panel__btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  /* 576 px */
  @media (max-width: 36rem) {
    width: 60px;
    height: 60px;
  }
}

.panel__btn:not(:last-child) {
  margin-right: 10px;
}

.panel__btn svg {
  width: 100%;
  height: 100%;
}

.panel__btn_chat {
  width: initial;
  padding: 0.5em 1em;
  border-radius: var(--radius-md);
  background-color: var(--color-btn-blue);

  /* 576 px */
  @media (max-width: 36rem) {
    width: 60px;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    background-image: url('../../assets/media/icons/chat.svg');
  }
}

.panel__btn_search {
  background-image: url('../../assets/media/icons/search.svg');
}

.panel__btn_login {
  background-image: url('../../assets/media/icons/login.svg');
}

.panel__btn-text {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  font-weight: 500;

  /* 576 px */
  @media (max-width: 36rem) {
    display: none;
  }
}

.panel__btn_burger {
  position: relative;
  display: none;
  width: 60px;
  height: 60px;

  /* 768 px */
  @media (max-width: 48rem) {
    display: inline-block;
  }
}

.panel__btn_burger span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: background-color .2s, transform .2s;
}

.panel__btn_burger::before {
  position: absolute;
  top: 10%;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  content: '';
  transition: top .2s, width .2s, transform .2s .15s;
}

.panel__btn_burger::after {
  position: absolute;
  top: 90%;
  right: 0;
  width: 50%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  content: '';
  transition: top .2s, width .2s, transform .2s .15s;
}

.panel__btn_burger.open span {
  transform: scaleX(0);
  background-color: transparent;
}

.panel__btn_burger.open::before {
  top: 50%;
  width: 100%;
  transform: rotate(45deg);
  transition: top .2s .15s, width .2s, transform .2s;
}

.panel__btn_burger.open::after {
  top: 50%;
  width: 100%;
  transform: rotate(-45deg);
  transition: top .2s .15s, width .2s, transform .2s;
}


/* 
_____________
Footer
_____________
*/
.footer {
  position: relative;
  background: var(--color-bg-blue-linear-gradient);
}

.footer__container {
  max-width: var(--max-width-container-desktop);
  margin: auto;
  padding: var(--padding-tb-container-desktop) var(--padding-lr-container-desktop);

  /* 1400 px */
  @media (max-width: 87.5rem) {
    max-width: var(--max-width-container-laptop);
  }

  /* 1200 px */
  @media (max-width: 75rem) {
    max-width: var(--max-width-container-tablet);
    padding: 0 var(--padding-lr-container-tablet);
  }

  /* 992 px */
  @media (max-width: 62rem) {
    max-width: var(--max-width-container-smartphone);
  }

  /* 768 px */
  @media (max-width: 48rem) {
    max-width: var(--max-width-container-mobile);
    padding: 1em var(--padding-lr-container-mobile);
  }

  /* 576 px */
  @media (max-width: 36rem) {
    justify-content: center;
    max-width: 100%;
  }
}

.footer__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socials__link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  overflow: hidden;
  background-color: #fff;
}

.socials__svg {
  position: relative;
  width: 100%;
  height: 100%;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.socials__link:hover .socials__svg {
  color: #fff;
  transform: rotateY(360deg);
}

.socials__link:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
  content: "";
}

.socials__link:hover:before {
  top: 0;
}

.socials__link_black:before {
  background: #282828;
}

.socials__link_green:before {
  background: #62ee55;
}

.socials__link_blue:before {
  background: #0077b5;
}

.socials__link_red:before {
  background: #dd4b39;
}

.bottommenu {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.bottommenu__wrapper {}

.bottommenu__title {
  margin-bottom: 15px;
}

.bottommenu__list {
  overflow: hidden;
}

.bottommenu__item {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  font-weight: 400;
  overflow: hidden;
}

.bottommenu__link {
  position: relative;
  left: -20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.3em 0;
  transition: color .2s, left .2s;
}

.bottommenu__link::before {
  position: relative;
  left: 0;
  width: 10px;
  height: 2px;
  background-color: var(--color-action-blue);
  content: '';
  transition: left .1s;
}

.bottommenu__link:hover {
  left: 0;
  color: var(--color-action-blue);
}

.bottommenu__link:focus-visible {
  left: 0;
  color: var(--color-action-blue);
}

.bottommenu__link:active::before {
  left: 8px;
  color: var(--color-action-dark-blue);
}



.footer__warning {
  margin-bottom: 5px;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-xs);
  font-weight: 500;
}

.footer__alert {
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-text-min);
  font-weight: 300;
  color: var(--color-text-dark-grey);
}