/* 1400 px */
@media (max-width: 87.5rem) {}

/* 1200 px */
@media (max-width: 75rem) {}

/* 992 px */
@media (max-width: 62rem) {}

/* 768 px */
@media (max-width: 48rem) {}

/* 576 px */
@media (max-width: 36rem) {}

/* 
_____________
Подсказка
_____________
*/
*[data-tip] {
  position: relative;
}

*[data-tip]:after {
  position: absolute;
  left: 0;
  top: 100%;
  width: max-content;
  max-width: 300px;
  padding: 2em;
  opacity: 0;
  visibility: hidden;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-classic);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-min);
  font-weight: 400;
  background-color: var(--color-message-yellow);
  content: attr(data-tip);
  transition: opacity .2s, visibility .2s;
}

*[data-tip=""]::after {
  display: none;
}

*[data-tip]:hover::after {
  opacity: 1;
  visibility: visible;
}

/* 
_____________
notifications
_____________
*/
.notifications {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 300px;
  z-index: 100000;
}

.notifications__message {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  min-height: 40px;
  padding: 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  font-size: var(--font-size-descr-base);
  background-color: rgba(138, 209, 253, 0.5);
  backdrop-filter: blur(16px) saturate(150%);
  -webkit-backdrop-filter: blur(16px) saturate(150%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
  z-index: 100000;
}

.notifications__message_error::before {
  flex-shrink: 0;
  display: inline;
  width: 30px;
  height: 30px;
  background-image: url('../media/icons/error.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
}

.notifications__message_ok::before {
  flex-shrink: 0;
  display: inline;
  width: 30px;
  height: 30px;
  background-image: url('../media/icons/ok.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
}

.notifications__message:not(:last-child) {
  margin-bottom: 5px;
}

.notifications__message.show {
  opacity: 1;
  visibility: visible;
}

.notifications__btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  padding: 5px;
}

.notifications__btn::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #262626;
  content: '';
  transform: rotate(45deg);
}

.notifications__btn::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #262626;
  content: '';
  transform: rotate(-45deg);
}

.notifications__descr {
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-text-sm);
  font-weight: 400;
}

/* 
_____________
Разметка MarkDown
_____________
*/
.description_md h1 {
  margin-bottom: 30px;
  font-family: var(--font-family-text-montserrat);
  font-size: var(--font-size-title-max);
  font-weight: 600;
}

.description_md h2 {
  margin-bottom: 25px;
  font-family: var(--font-family-text-montserrat);
  font-size: var(--font-size-title-lg);
  font-weight: 600;
}

.description_md h3 {
  margin-bottom: 20px;
  font-family: var(--font-family-text-montserrat);
  font-size: var(--font-size-title-md);
  font-weight: 600;
}

.description_md h4 {
  margin-bottom: 15px;
  font-family: var(--font-family-text-montserrat);
  font-size: var(--font-size-title-sm);
  font-weight: 600;
}

.description_md h5 {
  margin-bottom: 10px;
  font-family: var(--font-family-text-montserrat);
  font-size: var(--font-size-title-xs);
  font-weight: 600;
}

.description_md h6 {
  margin-bottom: 5px;
  font-family: var(--font-family-text-montserrat);
  font-size: var(--font-size-title-min);
  font-weight: 600;
}

.description_md p {
  margin-bottom: 15px;
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-text-md);
  font-weight: 400;
}

.description_md ul {
  padding: 1em;
  list-style: circle;
}

.description_md ol {
  padding: 1em;
}

/* 
_____________
Рейтинговые звезды
_____________
*/
.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rating__stars {
  position: relative;
  width: 100px;
  height: 20px;
}

.rating__stars::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/media/grey-stars.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: '';
}

.rating__img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('../../assets/media/gold-stars.svg');
  background-repeat: no-repeat;
  background-size: 100px 20px;
  background-position: 0 0;
  z-index: 1;
}

.rating__count::after {
  content: ' / 5';
}

/* 
_____________
Блок с мини статистикой (Количество видео, часов, учеников, тестов)
_____________
*/
.stats-course__videos,
.stats-course__hours,
.rating-course,
.testes-course {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-min);
  font-weight: 400;
  color: var(--color-text-grey);
}

.stats-course__videos::before,
.stats-course__hours::before,
.rating-course::before,
.testes-course::before {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: '';
}

.stats-course__videos::before {
  background-image: url('../../assets/media/icons/videos.svg ');
}

.stats-course__hours::before {
  background-image: url('../../assets/media/icons/clock.svg');
}

.rating-course::before {
  background-image: url('../../assets/media/icons/star.svg');
}

.testes-course::before {
  background-image: url('../../assets/media/icons/okey.svg');
}

.stats-course__videos::after {
  content: 'видео';
}

.stats-course__hours::after {
  content: 'ч.';
  /* content: ''; */
}

.rating-course::after {
  content: '/ 5';
}

.testes-course::after {
  /* content: 'заданий'; */
  content: '';
}

/* 
_____________
Header
_____________
*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 1000;
  transition: box-shadow .2s;

  /* 576 px */
  @media (max-width: 36rem) {
    position: absolute;
  }
}

.header::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: '';
  opacity: 0;
  transition: opacity .2s, backdrop-filter .2s;

  /* 576 px */
  @media (max-width: 36rem) {
    content: none;
  }
}

.header.scrolled {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
}

.header.scrolled::before {
  opacity: 1;
  backdrop-filter: blur(16px) saturate(150%);
  -webkit-backdrop-filter: blur(16px) saturate(150%);
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width-container-desktop);
  margin: auto;
  gap: 80px;
  padding: 0 var(--padding-lr-container-desktop);

  /* 1400 px */
  @media (max-width: 87.5rem) {
    max-width: var(--max-width-container-laptop);
  }

  /* 1200 px */
  @media (max-width: 75rem) {
    max-width: var(--max-width-container-tablet);
    padding: 0 var(--padding-lr-container-tablet);
  }

  /* 992 px */
  @media (max-width: 62rem) {
    max-width: var(--max-width-container-smartphone);
  }

  /* 768 px */
  @media (max-width: 48rem) {
    max-width: var(--max-width-container-mobile);
    padding: 1em var(--padding-lr-container-mobile);
  }

  /* 576 px */
  @media (max-width: 36rem) {
    justify-content: center;
    max-width: 100%;
  }
}

.header__logo {
  max-width: 90px;
}

.header__logo svg {
  width: 100%;
  transition: color .1s;
}

.header__logo:hover svg {
  color: var(--color-action-blue);
}

.header__logo:focus-visible svg {
  color: var(--color-action-blue);
}

.header__logo:active svg {
  color: var(--color-action-dark-blue);
}

.header__nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;

  /* 768 px */
  @media (max-width: 48rem) {
    justify-content: flex-end;
  }
}

.topmenu {
  display: flex;
  align-items: center;
  gap: 25px;

  /* 768 px */
  @media (max-width: 48rem) {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 1em;
    overflow-y: scroll;
    background-color: rgba(180, 226, 255, 0.5);
    backdrop-filter: blur(16px) saturate(150%);
    -webkit-backdrop-filter: blur(16px) saturate(150%);
    transform: scale(0) translate(100%, -200%);
    transition: transform .5s;
  }
}

.topmenu.active {

  /* 768 px */
  @media (max-width: 48rem) {
    transform: scale(1) translate(0, 0);
  }
}

.header.scrolled .topmenu {
  /* border-color: var(--color-bg-blue); */
}

.topmenu__link {
  display: inline-block;
  padding: 30px 0;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-title-sm);
  font-weight: 500;
  transition: color .1s, opacity .1s;

  /* 1400 px */
  @media (max-width: 87.5rem) {
    font-size: var(--font-size-title-xs);
  }

  /* 768 px */
  @media (max-width: 48rem) {
    padding: 0;
  }
}

.topmenu__link:hover {
  color: var(--color-action-blue);
}

.topmenu__link:focus-visible {
  color: var(--color-action-blue);
}

.topmenu__link:active {
  color: var(--color-action-dark-blue);
}


/* 
_____________
Вложенное меню
_____________
*/
.submenu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  border: var(--border-grey);
  border-radius: var(--radius-lg);
  background-color: rgba(180, 226, 255, 0.5);
  backdrop-filter: blur(16px) saturate(150%);
  -webkit-backdrop-filter: blur(16px) saturate(150%);
  z-index: 1000;
  transform: translateY(30px);
  transition: opacity .2s linear,
    visibility .2s linear,
    transform .2s linear;

  /* 992 px */
  @media (max-width: 62rem) {
    left: 0;
    right: 0;
  }

  /* 768 px */
  @media (max-width: 48rem) {
    position: static;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    backdrop-filter: initial;
    -webkit-backdrop-filter: initial;
    transform: none;
  }

  /* 576 px */
  @media (max-width: 36rem) {
    max-width: 100%;
  }
}

.submenu:focus-within {
  visibility: visible;
  opacity: 1;
  transform: none;
}

.tobmenu__item:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: none;
}

.topmenu__link:focus-within+.submenu {
  visibility: visible;
  opacity: 1;
  transform: none;
}


.submenu__col {
  padding: 0 1em;

  /* 768 px */
  @media (max-width: 48rem) {
    padding: 0;
  }
}

.submenu__col:not(:last-child) {
  border-right: 1px solid rgb(204, 204, 204);

  /* 768 px */
  @media (max-width: 48rem) {
    margin-bottom: 20px;
    border-right: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    ;
  }
}

.submenu__title {
  display: block;
  margin-bottom: 20px;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-title-sm);
  color: var(--color-text-grey);
  font-weight: 500;
  transition: color .1s;

  /* 1400 px */
  @media (max-width: 87.5rem) {
    font-size: var(--font-size-title-xs);
  }
}

.submenu__title:hover {
  color: var(--color-text-black);
}

.submenu__title:focus-within {
  color: var(--color-action-blue);
}

.submenu__item {
  border-radius: var(--radius-lg);
  transition: background-color .1s;
}

.submenu__item:hover {
  background-color: var(--color-bg-grey);
}

.submenu__link {
  display: block;
  padding: 0.5em;
}

.submenu__link:focus-within {
  color: var(--color-action-blue);
}

.submenu__name {
  display: block;
  margin-bottom: 5px;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-title-xs);
  font-weight: 500;

  /* 1400 px */
  @media (max-width: 87.5rem) {
    font-size: var(--font-size-title-min);
  }
}

.submenu__description {
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-text-xs);
  color: var(--color-text-grey);

  /* 1400 px */
  @media (max-width: 87.5rem) {
    font-size: var(--font-size-text-min);
  }
}





.panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  /* 576 px */
  @media (max-width: 36rem) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    gap: 45px;
    padding: 0.5em 1em;
    backdrop-filter: blur(16px) saturate(150%);
    -webkit-backdrop-filter: blur(16px) saturate(150%);
  }
}

.panel__form {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2em;
  background-color: var(--color-btn-white-transparent);
  transform: scaleY(0) translateY(200px);
  transition: transform .2s;
}

.panel__form.active {
  transform: scaleY(1) translateY(0);
}

.panel__form input {
  padding: 0.5em 1em;
  box-sizing: border-box;
  border: var(--border-white);
  border-radius: var(--radius-md);
  font-family: var(--font-family-montserrat);

}

.panel__label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-xs);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.panel__checkbox {
  display: none;
}

.panel__checkbox+span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: var(--border-grey);
  border-radius: var(--radius-max);
}

.panel__checkbox+span::before {
  width: 14px;
  height: 14px;
  border-radius: var(--radius-max);
  background-color: var(--color-action-blue);
  content: '';
  transform: scale(0);
  transition: transform .1s;
}

.panel__checkbox:checked+span::before {
  transform: scale(1);
}

.panel__btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  min-width: 30px;
  min-height: 30px;
  border-radius: var(--radius-max);
  box-sizing: border-box;
  background-color: #000;
  background-size: 20px;
  transition: background .1s;

  /* 576 px */
  @media (max-width: 36rem) {
    min-width: 60px;
    min-height: 60px;
    background-size: 60px;
  }
}

.panel__btn:hover {
  background-color: var(--color-action-white);
}

.panel__btn:focus-visible {
  background-color: var(--color-action-white);
}

.panel__btn_chat {
  padding: 0.5em 1em;
  border: var(--border-white);
  border-radius: var(--radius-md);
  background-color: var(--color-btn-white-transparent);

  /* 768 px */
  @media (max-width: 48rem) {
    padding: 0;
    border-radius: 0;

    mask: url('../../assets/media/icons/chat.svg') no-repeat center/contain;
  }

  /* 576 px */
  @media (max-width: 36rem) {
    order: 1;
    width: 60px;
  }
}

.header.scrolled .panel__btn_chat {
  background-color: var(--color-btn-blue);
  border-color: transparent;
}

.header.scrolled .panel__btn_chat:hover {
  background-color: var(--color-action-blue);
}

.header.scrolled .panel__btn_chat:focus-visible {
  background-color: var(--color-action-blue);
}

.panel__btn_search {
  mask: url('../../assets/media/icons/search.svg') no-repeat center/contain;

  /* 576 px */
  @media (max-width: 36rem) {
    order: 2;
  }
}

.panel__btn_login {
  mask: url('../../assets/media/icons/log-in.svg') no-repeat center/contain;

  /* 576 px */
  @media (max-width: 36rem) {
    order: 3;
  }
}

.panel__btn-text {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  font-weight: 500;

  /* 768 px */
  @media (max-width: 48rem) {
    display: none;
  }
}

.panel__btn_burger {
  position: relative;
  display: none;

  /* 768 px */
  @media (max-width: 48rem) {
    display: inline-block;
  }

  /* 576 px */
  @media (max-width: 36rem) {
    width: 60px;
    height: 60px;
    order: 4;
  }
}

.panel__btn_burger span {
  position: absolute;
  top: 50%;
  left: 17%;
  right: 0;
  width: 70%;
  height: 2px;
  border-radius: var(--radius-lg);
  background-color: #000;
  transition: background-color .2s, transform .2s;
}

.panel__btn_burger::before {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 30%;
  height: 2px;
  border-radius: var(--radius-lg);
  background-color: #000;
  content: '';
  transition: top .2s, width .2s, transform .2s .15s;
}

.panel__btn_burger::after {
  position: absolute;
  top: 70%;
  right: 10%;
  width: 30%;
  height: 2px;
  border-radius: var(--radius-lg);
  background-color: #000;
  content: '';
  transition: top .2s, width .2s, transform .2s .15s;
}

.panel__btn_burger.open span {
  transform: scaleX(0);
  background-color: transparent;
}

.panel__btn_burger.open::before {
  top: 50%;
  width: 80%;
  transform: rotate(45deg);
  transition: top .2s .15s, width .2s, transform .2s;
}

.panel__btn_burger.open::after {
  top: 50%;
  width: 80%;
  transform: rotate(-45deg);
  transition: top .2s .15s, width .2s, transform .2s;
}


/* 
_____________
Footer
_____________
*/
.footer {
  position: relative;
  background: var(--color-bg-blue-purpure-linear-gradient2);
}

.footer__container {
  max-width: var(--max-width-container-desktop);
  margin: auto;
  padding: var(--padding-tb-container-desktop) var(--padding-lr-container-desktop);

  /* 1400 px */
  @media (max-width: 87.5rem) {
    max-width: var(--max-width-container-laptop);
  }

  /* 1200 px */
  @media (max-width: 75rem) {
    max-width: var(--max-width-container-tablet);
    padding: 0 var(--padding-lr-container-tablet);
  }

  /* 992 px */
  @media (max-width: 62rem) {
    max-width: var(--max-width-container-smartphone);
  }

  /* 768 px */
  @media (max-width: 48rem) {
    max-width: var(--max-width-container-mobile);
    padding: 1em var(--padding-lr-container-mobile);
  }

  /* 576 px */
  @media (max-width: 36rem) {
    justify-content: center;
    max-width: 100%;
  }
}
/* 
_____________
Секция формы обратной связи
_____________
*/
.callback {
  border-bottom: var(--border-white);
}
.callback__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width-container-desktop);
  margin: auto;
  padding: 20px var(--padding-lr-container-desktop);

  /* 1400 px */
  @media (max-width: 87.5rem) {
    max-width: var(--max-width-container-laptop);
  }

  /* 1200 px */
  @media (max-width: 75rem) {
    max-width: var(--max-width-container-tablet);
  }

  /* 992 px */
  @media (max-width: 62rem) {
    max-width: var(--max-width-container-smartphone);
  }

  /* 768 px */
  @media (max-width: 48rem) {
    max-width: var(--max-width-container-mobile);
  }

  /* 576 px */
  @media (max-width: 36rem) {
    justify-content: center;
    max-width: 100%;
  }
}
.callback__title {
  margin-bottom: var(--margin-bottom-title-desktop);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-title-sm);
}

.callback__description {
  margin-bottom: var(--margin-bottom-descr-desktop);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
}

.callback__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  width: 40%;
}

.callback__label input {
  width: 100%;
  padding: 0.5em 1em;
  border: var(--border-white);
  border-radius: var(--radius-lg);
  box-sizing: border-box;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  background-color: var(--color-form-white-transparent);
  color: var(--color-text-black);
}

.callback__label input::placeholder{
  color: var(--color-text-white);
}


.callback__select {
  position: relative;
  align-self: stretch;
  border: var(--border-white);
  border-radius: var(--radius-lg);
  background-color: #fff;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  background-color: var(--color-form-white-transparent);
  color: var(--color-text-white);
}

.callback__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  cursor: pointer;
}

.callback__wrapper::after {
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  content: '';
  transform: rotate(-45deg);
  z-index: 5;
  pointer-events: none;
}

.callback__wrapper input {
  cursor: pointer;
  margin-right: 5px;
  z-index: 1;
  background-color: transparent;
  color: var(--color-text-black);
}

.callback__wrapper input::placeholder{
  color: var(--color-text-white);
}


.callback__list {
  position: absolute;
  top: 120%;
  width: 100%;
  padding: 20px 10px;
  border-radius: var(--radius-lg);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  transition: opacity .1s, visibility .1s, top .1s;
}

.callback__list.active {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

.callback__item {
  cursor: pointer;
  transition: color .1s;
  color: var(--color-text-black);
}

.callback__item:not(:last-child) {
  margin-bottom: 10px;
}

.callback__item.selected {
  color: var(--color-text-blue);
}

.callback__item:hover {
  color: var(--color-text-blue);
}

.callback__btn {
  padding: .5em 1em;
  border-radius: var(--radius-lg);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  font-weight: 500;
  background: var(--color-bg-blue);
}


.connection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
  margin-bottom: 30px;
  border-bottom: var(--border-white);
}
.connection__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width-container-desktop);
  margin: auto;
  padding: 20px var(--padding-lr-container-desktop);

  /* 1400 px */
  @media (max-width: 87.5rem) {
    max-width: var(--max-width-container-laptop);
  }

  /* 1200 px */
  @media (max-width: 75rem) {
    max-width: var(--max-width-container-tablet);
  }

  /* 992 px */
  @media (max-width: 62rem) {
    max-width: var(--max-width-container-smartphone);
  }

  /* 768 px */
  @media (max-width: 48rem) {
    max-width: var(--max-width-container-mobile);
  }

  /* 576 px */
  @media (max-width: 36rem) {
    justify-content: center;
    max-width: 100%;
  }
}
.connection__title {
  margin-bottom: var(--margin-bottom-title-desktop);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-title-sm);
}

.connection__description {
  margin-bottom: var(--margin-bottom-descr-desktop);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
}
.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socials__link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  overflow: hidden;
  background-color: #fff;
}

.socials__svg {
  position: relative;
  width: 100%;
  height: 100%;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.socials__link:hover .socials__svg {
  color: #fff;
  transform: rotateY(360deg);
}

.socials__link:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
  content: "";
}

.socials__link:hover:before {
  top: 0;
}

.socials__link_black:before {
  background: #282828;
}

.socials__link_green:before {
  background: #62ee55;
}

.socials__link_blue:before {
  background: #0077b5;
}

.socials__link_red:before {
  background: #dd4b39;
}


.bottommenu__container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
  max-width: var(--max-width-container-desktop);
  margin: auto;
  padding: 20px var(--padding-lr-container-desktop);
  border-bottom: var(--border-white);

  /* 1400 px */
  @media (max-width: 87.5rem) {
    max-width: var(--max-width-container-laptop);
  }

  /* 1200 px */
  @media (max-width: 75rem) {
    max-width: var(--max-width-container-tablet);
  }

  /* 992 px */
  @media (max-width: 62rem) {
    max-width: var(--max-width-container-smartphone);
  }

  /* 768 px */
  @media (max-width: 48rem) {
    max-width: var(--max-width-container-mobile);
  }

  /* 576 px */
  @media (max-width: 36rem) {
    justify-content: center;
    max-width: 100%;
  }
}
.bottommenu__wrapper {}

.bottommenu__title {
  margin-bottom: 15px;
}

.bottommenu__list {
  overflow: hidden;
}

.bottommenu__item {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  font-weight: 400;
  overflow: hidden;
}

.bottommenu__link {
  position: relative;
  left: -20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.3em 0;
  transition: color .2s, left .2s;
}

.bottommenu__link::before {
  position: relative;
  left: 0;
  width: 10px;
  height: 2px;
  background-color: var(--color-action-blue);
  content: '';
  transition: left .1s;
}

.bottommenu__link:hover {
  left: 0;
  color: var(--color-action-blue);
}

.bottommenu__link:focus-visible {
  left: 0;
  color: var(--color-action-blue);
}

.bottommenu__link:active::before {
  left: 8px;
  color: var(--color-action-dark-blue);
}



.copyright__container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
  max-width: var(--max-width-container-desktop);
  margin: auto;
  padding: 20px var(--padding-lr-container-desktop);
  border-bottom: var(--border-white);

  /* 1400 px */
  @media (max-width: 87.5rem) {
    max-width: var(--max-width-container-laptop);
  }

  /* 1200 px */
  @media (max-width: 75rem) {
    max-width: var(--max-width-container-tablet);
  }

  /* 992 px */
  @media (max-width: 62rem) {
    max-width: var(--max-width-container-smartphone);
  }

  /* 768 px */
  @media (max-width: 48rem) {
    max-width: var(--max-width-container-mobile);
  }

  /* 576 px */
  @media (max-width: 36rem) {
    justify-content: center;
    max-width: 100%;
  }
}
.copyright__warning {
  margin-bottom: 5px;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-xs);
  font-weight: 500;
}

.copyright__alert {
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-text-min);
  font-weight: 300;
  color: var(--color-text-dark-grey);
}