/* 
_____________
Header
_____________
*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: var(--color-bg-wight);
  z-index: 1000;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width-container-desktop);
  margin: auto;
  gap: 80px;
  padding: 20px var(--padding-container-desktop);
}
.header__logo{
  max-width: 80px;
}
.header__logo img{
  width: 100%;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.topmenu {
  display: flex;
  align-items: center;
  gap: 25px;
}

.tobmenu__item {
  /* position: relative; */
}

.topmenu__link {
  /* display: block; */
  padding: 12px 0;
  font-weight: 400;
}
.topmenu__submenu{
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  top: 70%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.28);
  border-right: 1.5px solid rgba(255, 255, 255, 0.28);
  border-left: 1.5px solid rgba(255, 255, 255, 0.28);
  background-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(16px) saturate(150%);
  -webkit-backdrop-filter: blur(16px) saturate(150%);
  z-index: 1000;
  transition: opacity .1s linear, 
  visibility .1s linear;
}
.tobmenu__item:hover .topmenu__submenu{
  visibility: visible;
  opacity: 1;
}

.topmenu__sublist{

}
.topmenu__subitem:not(:last-child){
  margin-bottom: var(--margin-bottom-links-base);
}

.panel {
  display: flex;
  justify-content: space-between;
  gap: var(--margin-right-links-base);
}
.panel__item_burger{
  position: relative;
  /* display: none; */
}
.panel__btn{
  display: inline-block;
  width: 25px;
  height: 25px;
}
.panel__item_burger .panel__btn span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;
  transition: background-color .2s, transform .2s;
}
.panel__item_burger .panel__btn::before{
  position: absolute;
  top: 10%;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: black;
  content: '';
  transition: top .2s , width .2s, transform .2s .15s;
}
.panel__item_burger .panel__btn::after{
  position: absolute;
  top: 90%;
  right: 0;
  width: 50%;
  height: 2px;
  background-color: black;
  content: '';
  transition: top .2s, width .2s, transform .2s .15s;
}
.panel__item_burger .panel__btn.open span {
  transform: scaleX(0);
  background-color: transparent;
}
.panel__item_burger .panel__btn.open::before{
  top: 50%;
  width: 100%;
  transform: rotate(45deg);
  transition: top .2s .15s, width .2s, transform .2s;
}
.panel__item_burger .panel__btn.open::after{
  top: 50%;
  width: 100%;
  transform: rotate(-45deg);
  transition: top .2s .15s, width .2s, transform .2s;
}
/* 
_____________
Main
_____________
*/
/* .main__section{
    max-width: var(--max-width-container-desktop);
    margin: auto;
    padding: 0 var(--padding-container-desktop)
} */
.main__section:last-child {
  margin-bottom: 200px;
}

/* 
_____________
Приветственная секция
class hero
_____________
*/
.hero{
  padding-top: 100px;
  /* height: 100vh; */
  background-image: 
    url('../media/images/test-girl.png'),
    url('../media/images/hero-bg.png');
  background-size: 400px 560px, cover;
  background-repeat: no-repeat;
  background-position: 80% bottom, 0 0;
}

.hero__container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: var(--max-width-container-desktop);
  margin: auto;
  padding: 50px var(--padding-container-desktop)
}

.hero__title{
  position: relative;
  max-width: 50%;
  margin-bottom: var(--margin-bottom-title-lg);
}

.hero__title::after{
  position: absolute;
  right: 0;
  top: 0;
  content: url('../media/images/rocket.png');
}

.hero__descr{
  max-width: 50%;
  margin-bottom: var(--margin-bottom-descr-lg);
  font-size: var(--font-size-descr-base);
}

.hero__btn_callback{
  padding: var(--paddings-btn-lg);
  margin-bottom: var(--margin-bottom-descr-lg);
  font-family: var(--font-family-text-montserrat);
  font-size: var(--font-size-btn);
  font-weight: 700;
  background-color: var(--color-btn-white);
}
/* *{
  box-sizing: border-box;
} */

.hero__btn_present {
  position: relative;
  align-self: center;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__svg-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  z-index: 2;
  animation: text-rotate 20s linear infinite;
}

/* Стили текста SVG */
.hero__svg-text text {
  font-family: var(--font-family-text-montserrat);
  font-size: var(--font-size-descr-base);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  fill: #298fff;
}

.hero__play{
  position: relative;
  width: 60px;
  height: 60px;
  border: var(--color-border-base-blue);
  border-radius: 50px;
}
.hero__play::before{
  position: absolute;
  left: 22px;
  top: 20px;
  content: url('../media/images/play.svg');
}

/* 
_____________
Секция с услугами(Школынми программами)
class services
_____________
*/
.services {
  height: 400px;
}

.services__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: var(--max-width-container-desktop);
  margin: auto;
  padding: 50px var(--padding-container-desktop)
}

.services__info {
  margin-bottom: 60px;
  /* padding: 50px 0; */
}

.services__title {
  margin-bottom: var(--margin-bottom-title-lg);
  font-size: var(--font-size-title-base);
}
.services__description{
  position: relative;
  max-width: 70%;
  min-height: 100px;
}
.services__text{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  font-family: var(--font-family-text-nunito);
  font-size: var(--font-size-descr-base);
  transition: opacity .2s linear, 
  visibility .2s linear;
}

.services__text.show{
  visibility: visible;
  opacity: 1;
}

.services__courses {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-height: 200px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.services__course {
  /* position: absolute;
  top: 45px; */
}

/* .services__course_green{
  left: 2%;
}
.services__course_dark-blue {
  left: 17%;
}

.services__course_blue {
  left: 32%;
}

.services__course_red {
  left: 47%;
}

.services__course_yellow {
  left: 62%;
} */

.services__course_green:hover .services__link {
  background: #3b985f;
}

.services__course_green:hover .services__link:before {
  background: #369255;
}

.services__course_green:hover .services__link:after {
  background: #4aad7f;
}

.services__course_dark-blue:hover .services__link {
  background: #3b5998;
}

.services__course_dark-blue:hover .services__link:before {
  background: #365492;
}

.services__course_dark-blue:hover .services__link:after {
  background: #4a69ad;
}

.services__course_blue:hover .services__link {
  background: #00aced;
}

.services__course_blue:hover .services__link:before {
  background: #097aa5;
}

.services__course_blue:hover .services__link:after {
  background: #53b9e0;
}

.services__course_red:hover .services__link {
  background: #dd4b39;
}

.services__course_red:hover .services__link:before {
  background: #b33a2b;
}

.services__course_red:hover .services__link:after {
  background: #e66a5a;
}

.services__course_yellow:hover .services__link {
  background: #d9e440;
}

.services__course_yellow:hover .services__link:before {
  background: #d8cb1c;
}

.services__course_yellow:hover .services__link:after {
  background: #e4e268;
}

.services__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  padding: 0 10px;
  font-family: var(--font-family-text-nunito);
  font-weight: 700;
  background-color: #fff;
  color: #262626;
  letter-spacing: 1px;
  text-align: center;
  transform: rotate(-30deg) skew(25deg) translate(-45px, 40px);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}

.services__link:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

.services__link:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.services__course:hover .services__link{
  transform: rotate(-30deg) skew(25deg) translate(-20px, 20px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}

.services__course:hover .services__link{
  color: #fff;
}



/* 
_____________
Footer
_____________
*/
.footer {
  position: relative;
  /* display: none; */
  height: 75vh;
  background: var(--color-bg-blue-gradient);
  border: 1px solid black;
}

.footer::before {
  position: absolute;
  top: -15px;
  height: 15px;
  width: 100%;
  background-color: var(--color-bg-dark-blue);
  content: '';
  opacity: var(--opacity-footer-after-before, 0);
  visibility: var(--visibility-footer-arter-before, 'hidden');
}

.footer::after {
  position: absolute;
  top: -155px;
  left: 0;
  right: 0;
  content: 'RoomSchool';
  font-family: var(--font-family-text-montserrat);
  font-size: 10rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-bg-dark-blue);
  opacity: var(--opacity-footer-after-before, 0);
  visibility: var(--visibility-footer-arter-before, 'hidden');
}

.footer__container {
  max-width: var(--max-width-container-desktop);
  margin: auto;
  padding: 90px var(--padding-container-desktop);
}

.bottommenu__list {
  display: flex;
  justify-content: center;
  gap: var(--margin-right-links-base);
}