:root{
    /*--свойство-предмет-модификация*/
    /* Цвета */
    --color-bg-grey: #F4F5F5;
    --color-bg-wight: #fff;
    --color-bg-blue: #e6f3f7;
    --color-bg-blue-gradient: linear-gradient(90deg,rgba(230, 243, 247, 1) 0%, rgba(255, 255, 255, 1) 38%, rgba(230, 243, 247, 1) 70%, rgba(255, 255, 255, 1) 88%, rgba(230, 243, 247, 1) 100%);
    --color-bg-dark-blue: #0AA6D7;

    --color-text-black: #000;
    --color-text-blue: #0AA6D7;

    --color-btn-blue: #0AA6D7;
    --color-btn-white: #fff;

    --border-btn-blue: 1px solid #0AA6D7;
    --border-btn-black: 1px solid black;

    /* Отступы */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;

    --padding-container-desktop: 20px;
    --padding-container-tablet: 15px;
    --padding-container-mobile: 10px;

    --margin-right-links-base: 20px;
    --margin-bottom-links-base: 10px;

    --margin-bottom-title-sm: 1em;
    --margin-bottom-title-md: 2em;
    --margin-bottom-title-lg: 3em;

    --margin-bottom-descr-sm: 10px;
    --margin-bottom-descr-md: 20px;
    --margin-bottom-descr-lg: 30px;

    --paddings-btn-sm: 10px 30px;
    --paddings-btn-lg: 20px 50px;
    
    /* Размеры */
    --breakpoint-page-desktop: 90rem;
    --breakpoint-page-laptop: 75rem;
    --breakpoint-page-tablet: 61.875rem;
    --breakpoint-page-smartphone: 46.875rem;
    --breakpoint-page-mobile: 30rem;

    --max-width-container-desktop: 71.25rem;
    --max-width-container-laptop: 60rem;
    --max-width-container-tablet: 45rem;
    --max-width-container-mobile: 100%;
    
    
    /* Радиусы */
    --radius-md: 8px;
    --radius-lg: 16px;
    
    /* Шрифты */
    --font-family-text-montserrat: 'Montserrat', Arial, sans-serif;
    --font-family-text-nunito: 'Nunito', Arial, sans-serif;

    --font-size-text-xs: 0.875rem;
    --font-size-text-sm: 1rem;
    --font-size-text-md: 1.2rem;
    --font-size-text-lg: 1.5rem;

    --font-size-title-xs: 1rem;
    --font-size-title-sm: 1.5rem;
    --font-size-title-md: 2rem;
    --font-size-title-lg: 2.5rem;

    --font-size-btn: 1rem;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../media/fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
         url('../media/fonts/montserrat/Montserrat-Light.woff') format('woff'),
         url('../media/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../media/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
         url('../media/fonts/montserrat/Montserrat-Regular.woff') format('woff'),
         url('../media/fonts/montserrat/Montserrat-Regulat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../media/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
         url('../media/fonts/montserrat/Montserrat-Medium.woff') format('woff'),
         url('../media/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../media/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
         url('../media/fonts/montserrat/Montserrat-Bold.woff') format('woff'),
         url('../media/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../media/fonts/nunito/Nunito-Bold.woff2') format('woff2'),
         url('../media/fonts/nunito/Nunito-Bold.woff') format('woff'),
         url('../media/fonts/nunito/Nunito-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../media/fonts/nunito/Nunito-Light.woff2') format('woff2'),
         url('../media/fonts/nunito/Nunito-Light.woff') format('woff'),
         url('../media/fonts/nunito/Nunito-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../media/fonts/nunito/Nunito-Regular.woff2') format('woff2'),
         url('../media/fonts/nunito/Nunito-Regular.woff') format('woff'),
         url('../media/fonts/nunito/Nunito-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@keyframes text-rotate {
  100% { transform: rotate(360deg); }
}

a{
    font-family: var(--font-family-text-nunito);
    text-decoration: none;
    color: var(--color-text-black);
    outline: none;
}

button{
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--font-family-text-montserrat)
}

p{
    margin: 0;
    font-family: var(--font-family-text-nunito);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

input{
    outline: none;
}

.body{
    min-height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: var(--color-bg-grey);
}

.icons{
    display: none;
}